.content-container{
	background-color: #b10207;
	border-radius: 50px;
	padding: 20px;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	display: flex;
	justify-content: stretch;
}

.tab-content{
	display: flex;
	border-radius: 40px;
	background-color: #f5ebe5;
	width: 100%;
}

.tab-content[active=false]{
	display: none;
}