.content-container{
	background-color: #5f010a;
	padding: 20px;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	display: flex;
	justify-content: stretch;
}

.tab-content{
	display: flex;
	background-color: #debdab;
	width: 100%;
}

.tab-content[active=false]{
	display: none;
}