.nav-container{
	/*background-color: #31465a;*/
}

.tab-nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid;
	border-radius: 20px;
	border-color: #b10207;
	background-color: #f5ebe5;
	cursor: pointer;
	margin: 10px 0px;
	opacity: 0.8;
}

/*.tab-nav:first-child{
	padding-top: 5px;
}

.tab-nav:last-child{
	padding-bottom: 5px;
}*/

.tab-nav[active=false]:hover{
	background-color: #f5ebe544;
}

.nav-icon{
	height: 45px;
	width: 45px;
	margin-top: 15px;
	filter: invert(8%) sepia(9%) saturate(4612%) 
	hue-rotate(337deg) brightness(92%) contrast(93%);
}

.nav-title{
	margin: 5px 0px 10px 0px;
	color: #2d180f;
	font-weight: bold;
}

.tab-nav[active=true]{
	background-color: #2d180f;
	opacity: 1;
}

.tab-nav[active=true]>.nav-title{
	color: #debdab;
}

.tab-nav[active=true]>.nav-icon{
	filter: invert(90%) sepia(2%) saturate(4241%) 
	hue-rotate(318deg) brightness(88%) contrast(98%);
}